{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <h1>API</h1>
        <p>
            {{ _('Проект Hebrew открыт к сотрудничеству с разработчиками приложений, которым могут потребоваться вопросы для квизов разных уровней иврита.') }}
        </p>
        <p>
            {{ _('В настоящее время доступ по API к базе данных вопросов является бесплатным и не требует регистрации. Если вы сообщите мне о том, что используете данный доступ, я буду информировать вас обо всех изменениях и обновлениях.') }} 
        </p>
        <p>
            {{ _('В качестве параметра запроса нужно указывать только уровень языка, для которого требуется вопрос квиза. В ответ на каждый запрос выдается один случайно выбранный вопрос с вариантами ответов и правильным вариантом. ') }}
        </p>
        <p>{{ _('Пример запроса: ') }}</p>
        <div>
            <code>http://hebrew.pythonanywhere.com/api?level=A1</code>
        </div>
        <p>{{ _('Пример ответа на запрос:') }}</p>
        <div>
            <code>
            {<br>
                "choices": [<br>
                  "בשעה 5",<br>
                  "בחמש שעות",<br>
                  "השעה 5",<br>
                  "השעות 5"<br>
                ],<br>
                "correct_answer": "בשעה 5",<br>
                "question": "דויד בא הביתה __________ היום."<br>
              }<br> 
            </code>    
        </div>
        <p>{{ _('База данных постоянно пополняется. На данный момент доступны вопросы для уровней языка А1 (израильский алеф) и А2 (бет).') }}</p>
    </div>
    {% endblock %}
