{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <h1>Программа занятий в рамках индивидуальных курсов</h1>
        <p>Каждая тема рассчитана на 4-6 часов работы с преподавателем. 
            В рамках каждой темы рассматривается также базовая грамматика, необходимая для грамотного общения.
        </p>
        <div class="sillabus">
            

            <div class="sillabus-inside">
            <h2>Курс Алеф</h2>
            <p>Темы для изучения в рамках онлайн курса "иврит начального уровня":</p>
            <ul>
                <li>знакомство (имя, место проживания, род деятельности);</li>
                <li> время (который час, в котором часу, сколько времени что-то занимает);</li>
                <li> возраст;</li>
                <li> любимые и нелюбимые вещи, еда и дела;</li>
                <li> что мы должны, можем и хотим делать?</li>
                <li> деньги (сколько стоит, почему так дорого и нельзя ли подешевле?);</li>
                <li> самочувствие (здоров, красив, умен, счастлив, но пока без работы);</li>
                <li> как добраться до нужной локации и не заблудиться?</li>
                <li> что вчера было?</li>
                <li> части тела, и что с ними делать.</li>
            </ul>
            </div>

            <div class="sillabus-inside">
                <div class="cont-textbook">
                <img src="../static/cover_1_ru_min.jpg" alt="Textbook cover">
                <a class='one' href="/textbook">Полистать</a>
                </div>
            </div>
        </div>

        </div>


        <div class="sillabus">
            <div class="sillabus-inside">
            <h2>Курс Бет</h2>
        
            <p>Темы для изучения в рамках онлайн курса "иврит среднего уровня":</p>
            <ul>
                <li> знакомство (самопрезентация, рассказ о своем хобби, навыки задавать вопросы собеседнику);
                <li> общение в магазине и на рынке в Израиле (продовольственные и непродовольственные товары);
                <li> в кафе, в ресторане (общение с официантом, разговоры о любимых блюдах);
                <li> как рассказать о своем опыте работы на иврите (изучение лексики, касающейся именно вашей отрасли);
                <li> как арендовать машину (+ лексика, касающаяся заправки и страхования);
                <li> Поиск работы в сети онлайн и в компаниях по трудоустройству на иврите;
                <li> общение в социальных сетях на иврите;
                <li> на приеме у врача (базовая лексика касающаяся тела и возможных болезней);
                <li> в городском транспорте в Израиле (расписание движения, покупка билетов и т.п.);
                <li> общение в офисе (базовая лексика в сфере делового общения на иврите);
                <li> автобиография на иврите;
                <li> планы на будущее (отработка навыков использования будущего времени в иврите).
            </ul>
            </div>

            <div class="sillabus-inside">
                <div class="cont-textbook">
                <img src="../static/cover_2_ru_min.jpg" alt="Textbook cover">
                </div>
            </div>
        </div>
        <p>При работе с преподавателем, вы сможете редактировать программу каждого курса: 
            при желании - сделать акцент на том, что нужно именно вам, и выбросить то, что вам не интересно.</p>
        <p>Теперь вы можете: побольше узнать о преподавателе, или прямо написать и договориться о пробном занятии</p>
        
        <div class="cont-video">
        <a class='one' href="/about">О преподавателе</a>
        <a class='one' href="mailto: serge.gurbich@gmail.com">Связаться</a>
        </div>
    </div>
{% endblock %}
