{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <h1>{{ _('Программа занятий в рамках индивидуальных курсов') }}</h1>
        <p>{{ _('Каждая тема рассчитана на 4-6 часов работы с преподавателем. 
            В рамках каждой темы рассматривается также базовая грамматика, необходимая для грамотного общения.') }}
        </p>
        <div class="sillabus">
            

            <div class="sillabus-inside">
            <h2>{{ _('Курс Алеф') }}</h2>
            <p>{{ _('Темы для изучения в рамках онлайн курса "иврит начального уровня":') }}</p>
            <ul>
                <li>{{ _('знакомство (имя, место проживания, род деятельности);') }}</li>
                <li> {{ _('время (который час, в котором часу, сколько времени что-то занимает);') }}</li>
                <li> {{ _('возраст;') }}</li>
                <li> {{ _('любимые и нелюбимые вещи, еда и дела;') }}</li>
                <li> {{ _('что мы должны, можем и хотим делать?') }}</li>
                <li> {{ _('деньги (сколько стоит, почему так дорого и нельзя ли подешевле?);') }}</li>
                <li> {{ _('самочувствие (здоров, красив, умен, счастлив, но пока без работы);') }}</li>
                <li> {{ _('как добраться до нужной локации и не заблудиться?') }}</li>
                <li> {{ _('что вчера было?') }}</li>
                <li> {{ _('части тела, и что с ними делать.') }}</li>
            </ul>
            </div>

            <div class="sillabus-inside">
                <div class="cont-textbook">
                <img src="../static/cover_1_ru_min.jpg" alt="Textbook cover">
                <a class='one' href="/textbook">{{ _('Полистать') }}</a>
                </div>
            </div>
        </div>

        </div>


        <div class="sillabus">
            <div class="sillabus-inside">
            <h2>{{ _('Курс Бет') }}</h2>
        
            <p>{{ _('Темы для изучения в рамках онлайн курса "иврит среднего уровня":') }}</p>
            <ul>
                <li> {{ _('знакомство (самопрезентация, рассказ о своем хобби, навыки задавать вопросы собеседнику);') }}
                <li> {{ _('общение в магазине и на рынке в Израиле (продовольственные и непродовольственные товары);') }}
                <li> {{ _('в кафе, в ресторане (общение с официантом, разговоры о любимых блюдах);') }}
                <li> {{ _('как рассказать о своем опыте работы на иврите (изучение лексики, касающейся именно вашей отрасли);') }}
                <li> {{ _('как арендовать машину (+ лексика, касающаяся заправки и страхования);') }}
                <li> {{ _('поиск работы в сети онлайн и в компаниях по трудоустройству на иврите;') }}
                <li> {{ _('общение в социальных сетях на иврите;') }}
                <li> {{ _('на приеме у врача (базовая лексика касающаяся тела и возможных болезней);') }}
                <li> {{ _('в городском транспорте в Израиле (расписание движения, покупка билетов и т.п.);') }}
                <li> {{ _('общение в офисе (базовая лексика в сфере делового общения на иврите);') }}
                <li> {{ _('автобиография на иврите;') }}
                <li> {{ _('планы на будущее (отработка навыков использования будущего времени в иврите).') }}
            </ul>
            </div>

            <div class="sillabus-inside">
                <div class="cont-textbook">
                <img src="../static/cover_2_ru_min.jpg" alt="Textbook cover">
                </div>
            </div>
        </div>
        <p>{{ _('При работе с преподавателем, вы сможете редактировать программу каждого курса: 
            при желании - сделать акцент на том, что нужно именно вам, и выбросить то, что вам не интересно.') }}</p>
        <p>{{ _('Теперь вы можете: побольше узнать о преподавателе, или прямо написать и договориться о пробном занятии') }}</p>
        
        <div class="cont-video">
        <a class='one' href="/about">{{ _('О преподавателе') }}</a>
        <a class='one' href="mailto: serge.gurbich@gmail.com">{{ _('Связаться') }}</a>
        </div>
    </div>
{% endblock %}
