{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <h1>{{ _('Экспресс-тесты на знание иврита') }}</h1>
        <p>{{ _('Этот минималистичный сайт пригодится вам, если вы:') }}</p>
        <ul class='intro-list'>
            <li>{{ _('Хотите протестировать свой уровень иврита') }}</li>
            <li>{{ _('Ищете видео-, аудио- и текстовые материалы для изучения иврита') }}</li>
            <li>{{ _('Готовитесь к сдаче экзамена на уровни Алеф или Бет') }}</li>
            <li>{{ _('Ищете преподавателя, который помог бы вам в развитии разговорных навыков') }}</li>
        </ul>
        <p>{{ _('Прежде всего, вы можете пройти тест и примерно определить свой уровень иврита.
            Возможно, вам вовсе не нужно начинать с нуля.<br>
            Затем ознакомьтесь с детально проработанной программой каждого курса.<br>
            При работе с преподавателем, вы сможете настроить ее так, чтобы она 
            максимально соответствовала вашим потребностям.<br>
            И, наконец, чтобы протестировать свои навыки восприятия на слух, 
            вы можете посмотреть наши забавные обучающие видео про животных.<br>
            Хорошего вам настроения!') }}
        </p>
        <div class="cont-video">
            <a class='one' href="/tests_general">{{ _('Пройти тест') }}</a>
            <a class='one' href="/courses">{{ _('Выбрать курс') }}</a>
            <a class='one' href="/about">{{ _('Узнать преподавателя') }}</a>
        </div>
    </div>
    {% endblock %}
