{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <div class="photo-descr">
            <div class="descr">
                <h5 class="big-ital">Сергей Гурбич</h5>
                <p>Гебраист, переводчик, литературовед<br>
                PhD в области израильской литературы<br>
                Стаж преподавания: с 2001 года
                </p>
            </div>
            <div class="clipped-image">
                <img src="../static/GurbychS.jpg" alt="SergiiGurbych">
            </div>
        </div>

        <p class="bold">Возможности сотрудничества</p>
        <p>Для организаций:</p>
        <ul>
            <li>координация учебного процесса на академическом уровне;</li>
            <li>составление учебных программ по предметам в сфере иудаики;</li>
            <li>составление тестов по ивриту и организация тестирования студентов;</li>
            <li>создание и поддержка программного обеспечения для увеличения эффективности учебного процесса 
                и привлечения студентов.</li>
        </ul>

        <p>Для частных лиц:</p>
        <ul>
            <li>подготовка к сдаче израильских тестов Алеф, Бет и Гимель;</li>
            <li>развитие разговорных навыков в разных областях современного иврита;</li>
            <li>расширение словарного запаса в рамках медицинской, юридической и технической тематики;</li>
            <li>обучение студентов с нуля до свободного владения языком.</li>
        </ul>

        <p class="cont-video1">
            <img src="../static/cover_1_ru_min.jpg" alt="Textbook cover">
        </p>

        <p class="bold">Учебный процесс</p>
        <p>Хотя каждый курс имеет отработанную годами структуру, 
            материалы для обучения подбираются каждый раз индивидуально 
            в соответствии с интересами каждого студента. 
            Подумайте, что вас интересует: чтение текстов или просмотр видео? 
            А если видео, то фильмы или анимация? 
            Может, ваша цель – ведение блога или участие в игровых форумах? 
            Видео-конференции или общение с партнером вживую?
            Для каждой из этих опций у меня есть огромный набор материалов разной тематики 
            – мода, спорт, технологии, даже общение с дикими животными. 
            Например, вот видео об американских белках на легком иврите, 
            сделанное специально для одного из моих курсов.
        </p>

        <p class="cont-video">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/F6idZ8jbK_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>

        <p class="bold">Преимущества</p>
        <ul>
            <li> Вы можете оплачивать стоимость занятия после его окончания – то есть, когда вы уже уверены в качестве услуг.</li>
            <li> Если у вас нет опыта обучения онлайн – я помогу обустроить процесс максимально комфортно для вас.</li>
            <li> Я развиваю прежде всего навыки общения, потому что понимаю, что ваша задача – не выучить весь язык, а использовать его для достижения своих целей.</li>
            <li> У меня есть опыт подготовки студентов к сдаче израильских экзаменов на уровни Алеф и Бет - результат достигается гораздо быстрее, чем в израильском ульпане.</li>
            <li> Я знаю, что некоторым студентам удобнее учить язык через грамматику, а других, наоборот, грамматика только пугает. В нашем с вами общении я буду использовать тот подход, который вам удобнее.</li>
            <li> Возможен гибкий график занятий, то есть вы можете учить язык даже когда вы путешествуете!</li>
        </ul>

        <div class="rectang-image">
            <img src="../static/ToTravel.jpg" alt="To travel is to live">
        </div>

        <p class="bold">Опыт работы</p>
        <ul>
            <li>2020— наст. вр<br>
            Исследователь в Университете Иллинойса в Урбане-Шампейн</li>
            
            <li>2002—2015<br>
            Преподаватель иврита и израильской литературы в Национальном Университете "Киево-Могилянская Академия"</li>
            
            <li>2000—2022<br>
            Переводчик с английского и иврита с опытом работы с литературными, публицистическими и научными текстами.</li>
        </ul>

        <p class="bold">Образование</p>
        <ul>
            <li>октябрь 2017 - июнь 2021<br>
            Докторантура, департамент Иудаики, университет Хайдельберга, Германия</li>
            
            <li>март 2016 - август 2017<br>
            Магистратура, департамент Иудаики, университет Хайдельберга, Германия</li>
        </ul>
        <p></p>
        <div class="cont-video">
            <a class='one' href="mailto: serge.gurbich@gmail.com">Связаться со мной</a>
        </div>
    </div>
    {% endblock %}
