{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <div class="photo-descr">
            <div class="descr">
                <h5 class="big-ital">{{ _('Сергей Гурбич') }}</h5>
                <p>{{ _('Гебраист, переводчик, литературовед<br>
                PhD в области израильской литературы<br>
                Стаж преподавания: с 2001 года') }}
                </p>
            </div>
            <div class="clipped-image">
                <img src="../static/GurbychS.jpg" alt="SergiiGurbych">
            </div>
        </div>

        <p class="bold">{{ _('Возможности сотрудничества') }}</p>
        <p>{{ _('Для организаций:') }}</p>
        <ul>
            <li>{{ _('координация учебного процесса на академическом уровне;') }}</li>
            <li>{{ _('составление учебных программ по предметам в сфере иудаики;') }}</li>
            <li>{{ _('составление тестов по ивриту и организация тестирования студентов;') }}</li>
            <li>{{ _('создание и поддержка программного обеспечения для увеличения эффективности учебного процесса 
                и привлечения студентов.') }}</li>
        </ul>

        <p>{{ _('Для частных лиц:') }}</p>
        <ul>
            <li>{{ _('подготовка к сдаче израильских тестов Алеф, Бет и Гимель;') }}</li>
            <li>{{ _('развитие разговорных навыков в разных областях современного иврита;') }}</li>
            <li>{{ _('расширение словарного запаса в рамках медицинской, юридической и технической тематики;') }}</li>
            <li>{{ _('обучение студентов с нуля до свободного владения языком.') }}</li>
        </ul>

        <p class="cont-video1">
            <img src="../static/cover_1_ru_min.jpg" alt="Textbook cover">
        </p>

        <p class="bold">{{ _('Учебный процесс') }}</p>
        <p>{{ _('Хотя каждый курс имеет отработанную годами структуру, 
            материалы для обучения подбираются каждый раз индивидуально 
            в соответствии с интересами каждого студента. 
            Подумайте, что вас интересует: чтение текстов или просмотр видео? 
            А если видео, то фильмы или анимация? 
            Может, ваша цель – ведение блога или участие в игровых форумах? 
            Видео-конференции или общение с партнером вживую?
            Для каждой из этих опций у меня есть огромный набор материалов разной тематики 
            – мода, спорт, технологии, даже общение с дикими животными. 
            Например, вот видео об американских белках на легком иврите, 
            сделанное специально для одного из моих курсов.') }}
        </p>

        <p class="cont-video">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/F6idZ8jbK_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>

        <p class="bold">{{ _('Преимущества') }}</p>
        <ul>
            <li> {{ _('Вы можете оплачивать стоимость занятия после его окончания – то есть, когда вы уже уверены в качестве услуг.') }}</li>
            <li> {{ _('Если у вас нет опыта обучения онлайн – я помогу обустроить процесс максимально комфортно для вас.') }}</li>
            <li> {{ _('Я развиваю прежде всего навыки общения, потому что понимаю, что ваша задача – не выучить весь язык, а использовать его для достижения своих целей.') }}</li>
            <li> {{ _('У меня есть опыт подготовки студентов к сдаче израильских экзаменов на уровни Алеф и Бет - результат достигается гораздо быстрее, чем в израильском ульпане.') }}</li>
            <li> {{ _('Я знаю, что некоторым студентам удобнее учить язык через грамматику, а других, наоборот, грамматика только пугает. В нашем с вами общении я буду использовать тот подход, который вам удобнее.') }}</li>
            <li> {{ _('Возможен гибкий график занятий, то есть вы можете учить язык даже когда вы путешествуете!') }}</li>
        </ul>

        <div class="rectang-image">
            <img src="../static/ToTravel.jpg" alt="To travel is to live">
        </div>

        <p class="bold">{{ _('Опыт работы') }}</p>
        <ul>
            <li>{{ _('2020— наст. вр') }}<br>
                {{ _('Исследователь в Университете Иллинойса в Урбана-Шампейн') }}</li>
            
            <li>2002—2015<br>
                {{ _('Преподаватель иврита и израильской литературы в Национальном Университете "Киево-Могилянская Академия"') }}</li>
            
            <li>2003—2010<br>
                {{ _('Преподаватель иврита и израильской литературы в Международном Соломоновом Университете, Киев') }}</li>

            <li>2000—2022<br>
                {{ _('Переводчик с английского и иврита с опытом работы с литературными, публицистическими и научными текстами.') }}</li>

            <li>1997—2014<br>
                {{ _('Преподаватель иврита и переводчик на курсах при Посольстве Израиля в Киеве, Украина') }}</li>
        </ul>

        <p class="bold">{{ _('Образование') }}</p>
        <ul>
            <li>{{ _('октябрь 2017 - июнь 2021') }}<br>
                {{ _('Докторантура, департамент Иудаики, университет Хайдельберга, Германия') }}</li>
            
            <li>{{ _('март 2016 - август 2017') }}<br>
                {{ _('Магистратура, департамент Иудаики, университет Хайдельберга, Германия') }}</li>

            <li>{{ _('август 2015 - февраль 2017') }}<br>
                {{ _('Годичная образовательная программа по иудаике в институте Пайдейя, Стокгольм') }}</li>

            <li>{{ _('Сентябрь 1997 - май 2001') }}<br>
                {{ _('Педагогический колледж, специализация "Иудаика", Киев, Украина') }}</li>
        </ul>
        <p></p>
        <div class="cont-video">
            <a class='one' href="mailto: serge.gurbich@gmail.com">{{ _('Связаться со мной') }}</a>
        </div>
    </div>
    {% endblock %}
