{% extends "base.html" %}
{% block content %}
    <div class='article-main'>
        <h1>{{ _('Экспресс-тесты на знание иврита') }}</h1>
        <p>{{ _('Тесты в рамках курса на уровень алеф:') }}</p>
            <div class="quest-container">
                <div class="quest-list">
                    {% for ele in rows %}
                        {% if ele.level == 1 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/tests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/tests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="quest-list">
                    {% for ele in rows_audio %}
                        {% if ele.level == 1 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/audiotests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/audiotests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="quest-list">
                    {% for ele in rows_video %}
                        {% if ele.level == 1 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/videotests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/videotests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        <p>{{ _('Тесты в рамках курса на уровень бет:') }}</p>
            <div class="quest-container">
                <div class="quest-list">
                    {% for ele in rows %}
                        {% if ele.level == 2 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/tests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/tests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="quest-list">
                    {% for ele in rows_audio %}
                        {% if ele.level == 2 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/audiotests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/audiotests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="quest-list">
                    {% for ele in rows_video %}
                        {% if ele.level == 2 %}
                            {% if lang == 'uk' %}
                                <li><a class="two" href="/videotests/{{ ele.id }}">{{ ele.title_uk }}</a></li>
                            {% else %}
                                <li><a class="two" href="/videotests/{{ ele.id }}">{{ ele.title }}</a></li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

    </div>
{% endblock %}
