{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>
        <div class="video-all">
            <h1>Видео на легком иврите с субтитрами</h1>
  
            <p class="cont-video">
                <p>Черный медведь aka барибал</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/do_J3pYIIBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>
            
            <p class="cont-video">
                <p>Белка и кот</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/2vfvmIhrCyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Американский лось</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/Mr2ksQ0zIZw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Сурок</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/EaKPHkrN6Dk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Золотистый суслик</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/jmjjxrmO6v4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Спасение опоссума</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/TcXy-fxL534" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Слонята</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/OWcwEqve5q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>

            <p class="cont-video">
                <p>Воспитание бельчат</p>
                <iframe width="300" height="200" src="https://www.youtube.com/embed/2Yxt6i5-7eI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </p>
        </div>
    </div>
{% endblock %}
