{% extends "base.html" %}
{% block content %}
    
    <div class='article-main'>

        <div class="cont-video">
            <h1>{{ _('Видеофрагмент для теста ') ~id }}</h1>
            <p>{{ _('Вы можете просмотреть это видео повторно в ходе ответов на вопросы.') }}</p>
            <iframe width="300" height="200" src="{{video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <p align="center">{{ _('Вопрос ') ~i}}</p>
        <div class="rtl">
        <form action="/videotests/{{id}}/{{i}}" method="POST">
            <p>{{ quest }}</p>
            <p>{{ form.quest }}</p>
            <input type="submit" value="Ok">
        </form>
        </div>
    </div>
{% endblock %}
